package profile

templ Index() {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../public/output.css">
        <title>User profile</title>
    </head>
    <body class="bg-gray-600">
        <h1 class="text-lime-500">User profile page</h1>
    </body>
    </html>
}