package layout

templ Base() {
	<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../../../public/output.css">
            <title>User profile</title>
        </head>
		<body class="bg-slate-200">
			<main>
				{ children... }
			</main>
		</body>
	</html>
}